    <div class="row">
        <nav class="top-bar" data-topbar>
            <ul class="title-area">
                <li class="name">
                    <h1><a href="#">Customer Info</a></h1>
                </li>
            </ul>
        </nav>
    </div>

    <div class="row" style="margin-bottom: 1em">
        <ul class="tabs">
            <li class="tab-title"><a href="#/transaction/<%= transaction_id %>">Shopping Cart</a></li>
            <li class="tab-title active"><a href="#/transaction/<%= transaction_id %>/customer/<%= id %>">Customer Info</a></li>
            <li class="tab-title"><a href="#/transaction/<%= transaction_id %>/customer/<%= id %>/payment">Payment Info</a></li>
        </ul>
    </div>

    <div class="row">
        <div class="panel">
            <h1>Verify Your Information</h1>
        </div>
    </div>

    <div class="row">
        <form>
            <div class="row">
                <div class="large-12 columns">
                    <label>Name
                        <input id="name" type="text" />
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="large-12 columns">
                    <label>Address
                        <input id="address" type="text" />
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="large-4 columns">
                    <label>City
                        <input id="city" type="text" />
                    </label>
                </div>
                <div class="large-4 columns">
                    <label>State
                        <select id="state">
                            <option value="">Select</option>
                            <option value="TN">TN</option>
                            <option value="VT">VT</option>
                        </select>
                    </label>
                </div>
                <div class="large-4 columns">
                    <label>Zip Code
                        <input id="zipcode" type="text" />
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="large-6 columns">
                    <label>Email
                        <input id="email" type="text" />
                    </label>
                </div>
                <div class="large-6 columns">
                    <label>Phone
                        <input id="phone" type="text" />
                    </label>
                </div>
            </div>
        </form>
    </div>

    <div class="row">
        <a href="#" id="next" class="button right">Next</a>
        <a href="#" id="back" class="button secondary left">Back</a>
    </div>
