    <div class="row">
        <nav class="top-bar" data-topbar>
            <ul class="title-area">
                <li class="name">
                    <h1><a href="#">Payment Info</a></h1>
                </li>
            </ul>
        </nav>
    </div>

    <div class="row" style="margin-bottom: 1em">
        <ul class="tabs">
            <li class="tab-title"><a href="#/">Shopping Cart</a></li>
            <li class="tab-title"><a href="#/verify">Customer Info</a></li>
            <li class="tab-title active"><a href="#/payment">Payment Info</a></li>
        </ul>
    </div>

    <div class="row">
        <div class="panel">
            <h1>Payment Details</h1>
        </div>
    </div>

    <div class="row">
        <form>
            <div class="row">
                <div class="large-4 columns">
                    <label>Name on Card
                        <input id="cc-name" type="text" />
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="large-4 columns">
                    <label>Type
                        <select id="cc-type">
                            <option value="">Select</option>
                            <option value="VISA">Visa</option>
                        </select>
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="large-4 columns">
                    <label>Number
                        <input id="cc-number" type="text" />
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="large-4 columns">
                    <label>Expiration Date
                        <input id="cc-exp-date" type="text" />
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="large-4 columns">
                    <label>Security Code
                        <input id="cc-security-code" type="text" />
                    </label>
                </div>
            </div>
        </form>
    </div>

    <div class="row">
        <a href="#" id="next" class="button right">Next</a>
        <a href="#" id="back" class="button secondary left">Back</a>
    </div>
