    <div class="row">
        <nav class="top-bar" data-topbar>
            <ul class="title-area">
                <li class="name">
                    <h1><a href="#">Order Complete</a></h1>
                </li>
            </ul>
        </nav>
    </div>

    <div class="row">
        <h1>Success!</h1>

        <div class="panel">
            <h3>Order Details</h3>
            <p><% _.each(items, function (item) { %>
                    <%= item.name %><br/>
                <% }); %></p>

            <hr/>

            <h3>Customer Details</h3>
            <p>Name: <%= customer.name %><br/>
                Address: <%= customer.address %><br/>
                City: <%= customer.city %><br/>
                State: <%= customer.state %><br/>
                Zip Code: <%= customer.zipcode %><br/>
                Email: <%= customer.email %><br/>
                Phone: <%= customer.phone %></p>

            <hr/>

            <h3>Payment Details</h3>
            <p>Name on Card: <%= customer.ccName %><br/>
                Type: <%= customer.ccType %><br/>
                Number: <%= customer.ccNumber %><br/>
                Expiration Date: <%= customer.ccExpDate %></p>
        </div>
    </div>
