    <div class="row">
        <nav class="top-bar" data-topbar>
            <ul class="title-area">
                <li class="name">
                    <h1><a href="#">My Items</a></h1>
                </li>
            </ul>
        </nav>
    </div>

    <div class="row" style="margin-bottom: 1em">
        <ul class="tabs">
            <li class="tab-title active"><a href="#/transaction/<%= transaction_id %>">Shopping Cart</a></li>
            <li class="tab-title"><a href="#/transaction/<%= transaction_id %>/customer/<%= customer_id %>">Customer Info</a></li>
            <li class="tab-title"><a href="#/transaction/<%= transaction_id %>/customer/<%= customer_id %>/payment">Payment Info</a></li>
        </ul>
    </div>

    <div class="row">
        <div class="panel">
            <h1>Shopping Cart</h1>
        </div>
    </div>

    <div class="row">
        <table>
            <thead>
                <tr>
                    <th width="200">Name</th>
                    <th width="520">Description</th>
                    <th width="150">Quantity</th>
                    <th width="150">Price</th>
                </tr>
            </thead>
            <tbody>
                <% _.each(items, function (item) { %>
                <tr>
                    <td><%= item.name %></td>
                    <td><%= item.description %></td>
                    <td><%= item.quantity %></td>
                    <td><%= item.price %></td>
                </tr>
                <% }); %>
            </tbody>
        </table>
    </div>

    <div class="row">
        <a href="#" id="next" class="button right">Next</a>
    </div>
