<div class="row">
    <div class="row">
        <nav class="top-bar" data-topbar>
            <ul class="title-area">
                <li class="name">
                    <h1><a href="#">Order Complete</a></h1>
                </li>
            </ul>
        </nav>
    </div>

    <div class="row">
        <h1>Success!</h1>

        <div class="panel">
            <h3>Order Details</h3>
            <p><span style="display: block" ng-repeat="item in ctrl.items">{{ item.name }}</span></p>

            <hr/>

            <h3>Customer Details</h3>
            <p>Name: {{ ctrl.customer.name }}<br/>
                Address: {{ ctrl.customer.address }}<br/>
                City: {{ ctrl.customer.city }}<br/>
                State: {{ ctrl.customer.state }}<br/>
                Zip Code: {{ ctrl.customer.zipcode }}<br/>
                Email: {{ ctrl.customer.email }}<br/>
                Phone: {{ ctrl.customer.phone }}</p>

            <hr/>

            <h3>Payment Details</h3>
            <p>Name on Card: {{ ctrl.customer.ccName }}<br/>
                Type: {{ ctrl.customer.ccType }}<br/>
                Number: {{ ctrl.customer.ccNumber }}<br/>
                Expiration Date: {{ ctrl.customer.ccExpDate }}</p>
        </div>
    </div>
</div>
